// Avatars
// scss-docs-start avatar-variables
$avatar-width:  2rem !default;

$avatar-widths: (
  sm: 1.5rem,
  md: 2.5rem,
  lg: 3rem,
  xl: 4rem
) !default;

$avatar-transition: margin .15s !default;
// scss-docs-end avatar-variables
