// scss-docs-start sidebar-variables
$sidebar-width:                            16rem !default;
$sidebar-widths: (
  sm: 12rem,
  lg: 20rem,
  xl: 24rem
) !default;
$sidebar-narrow-width:                     4rem !default;
$sidebar-padding-y:                        $spacer !default;
$sidebar-padding-x:                        $spacer !default;
$sidebar-color:                            var(--#{$prefix}body-color) !default;
$sidebar-bg:                               var(--#{$prefix}body-bg) !default;
$sidebar-transition:                       margin-left .15s, margin-right .15s, box-shadow .075s, transform .15s, width .15s, z-index 0s ease .15s !default;
$sidebar-brand-color:                      var(--#{$prefix}body-color) !default;
$sidebar-brand-bg:                         rgba($black, .2) !default;
$sidebar-backdrop-bg:                      $black !default;
$sidebar-backdrop-opacity:                 .5 !default;
$sidebar-overlaid-box-shadow:              var(--#{$prefix}box-shadow) !default;
// scss-docs-end sidebar-variables

// scss-docs-start sidebar-nav-variables
$sidebar-nav-padding-y:                       $sidebar-padding-y * .5 !default;
$sidebar-nav-padding-x:                       $sidebar-padding-x * .5 !default;

$sidebar-nav-title-padding-y:                 .75rem !default;
$sidebar-nav-title-padding-x:                 1rem !default;
$sidebar-nav-title-margin-top:                1rem !default;
$sidebar-nav-title-color:                     var(--#{$prefix}tertiary-color) !default;
$sidebar-nav-title-transition:                height .15s, margin .15s !default;

$sidebar-nav-link-padding-y:                  .75rem !default;
$sidebar-nav-link-padding-x:                  1rem !default;
$sidebar-nav-link-color:                      var(--#{$prefix}body-color) !default;
$sidebar-nav-link-bg:                         transparent !default;
$sidebar-nav-link-border-width:               0 !default;
$sidebar-nav-link-border-color:               transparent !default;
$sidebar-nav-link-border-radius:              var(--#{$prefix}border-radius) !default;
$sidebar-nav-link-transition:                 background .15s ease, color .15s ease, padding .15s ease !default;

$sidebar-compact-nav-link-padding-y:          .5625rem !default;

$sidebar-narrow-nav-link-padding-y:           .75rem !default;
$sidebar-narrow-nav-link-padding-x:           .5rem !default;

$sidebar-nav-link-icon-margin:                .75rem !default;
$sidebar-nav-link-icon-color:                 var(--#{$prefix}tertiary-color) !default;
$sidebar-nav-link-icon-width:                 1.25rem !default;
$sidebar-nav-link-icon-height:                1.25rem !default;
$sidebar-nav-link-icon-font-size:             $sidebar-nav-link-icon-height !default;

$sidebar-nav-link-icon-bullet-size:           .3125rem !default;
$sidebar-nav-link-icon-bullet-bg:             transparent !default;
$sidebar-nav-link-icon-bullet-border-width:   1px !default;
$sidebar-nav-link-icon-bullet-border-color:   var(--#{$prefix}tertiary-color) !default;
$sidebar-nav-link-icon-bullet-border-radius:  50rem !default;

$sidebar-nav-link-hover-color:                        var(--#{$prefix}emphasis-color) !default;
$sidebar-nav-link-hover-bg:                           var(--#{$prefix}tertiary-bg) !default;
$sidebar-nav-link-hover-icon-color:                   var(--#{$prefix}body-color) !default;
$sidebar-nav-link-hover-icon-bullet-bg:               transparent !default;
$sidebar-nav-link-hover-icon-bullet-border-color:     var(--#{$prefix}body-color) !default;

$sidebar-nav-link-active-color:                       var(--#{$prefix}emphasis-color) !default;
$sidebar-nav-link-active-bg:                          var(--#{$prefix}tertiary-bg) !default;
$sidebar-nav-link-active-icon-color:                  var(--#{$prefix}emphasis-color) !default;
$sidebar-nav-link-active-icon-bullet-bg:              transparent !default;
$sidebar-nav-link-active-icon-bullet-border-color:    var(--#{$prefix}emphasis-color) !default;

$sidebar-nav-link-disabled-color:                     var(--#{$prefix}tertiary-color) !default;
$sidebar-nav-link-disabled-icon-color:                var(--#{$prefix}tertiary-color) !default;
$sidebar-nav-link-disabled-icon-bullet-bg:            transparent !default;
$sidebar-nav-link-disabled-icon-bullet-border-color:  var(--#{$prefix}tertiary-color) !default;

$sidebar-nav-group-bg:                        transparent !default;
$sidebar-nav-group-border-width:              0 !default;
$sidebar-nav-group-border-color:              transparent !default;
$sidebar-nav-group-border-radius:             var(--#{$prefix}border-radius) !default;
$sidebar-nav-group-transition:                background .15s ease-in-out !default;
$sidebar-nav-group-toggle-show-color:         $sidebar-nav-link-color !default;

$sidebar-nav-group-items-padding-y:           0 !default;
$sidebar-nav-group-items-padding-x:           0 !default;
$sidebar-nav-group-items-transition:          height .15s ease !default;

$sidebar-nav-group-indicator-color:           var(--#{$prefix}tertiary-color) !default;
$sidebar-nav-group-indicator-icon:            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
$sidebar-nav-group-indicator-hover-color:     $sidebar-nav-link-hover-color !default;
$sidebar-nav-group-indicator-hover-icon:      $sidebar-nav-group-indicator-icon !default;
$sidebar-nav-group-indicator-transition:      transform .15s !default;
// scss-docs-end sidebar-nav-variables

// scss-docs-start sidebar-toggler
$sidebar-toggler-width:             .5rem !default;
$sidebar-toggler-height:            .5rem !default;
$sidebar-toggler-padding-x:         .25rem !default;
$sidebar-toggler-padding-y:         .25rem !default;
$sidebar-toggler-color:             var(--#{$prefix}tertiary-color) !default;
$sidebar-toggler-bg:                url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cg xmlns='http://www.w3.org/2000/svg' transform='matrix(-1 0 0 -1 512 512)'%3E%3Cpath fill='%23000' d='M472,16H40A24.028,24.028,0,0,0,16,40V200H48V48H464V464H48V304H16V472a24.028,24.028,0,0,0,24,24H472a24.028,24.028,0,0,0,24-24V40A24.028,24.028,0,0,0,472,16Z'/%3E%3Cpolygon fill='%23000' points='209.377 363.306 232.004 385.933 366.627 251.31 232.004 116.687 209.377 139.313 305.374 235.311 16 235.311 16 267.311 305.372 267.311 209.377 363.306'/%3E%3C/g%3E%3C/svg%3E") !default;
$sidebar-toggler-focus-shadow:      $focus-ring-box-shadow !default;
$sidebar-toggler-hover-color:       var(--#{$prefix}secondary-color) !default;
$sidebar-toggler-focus-color:       var(--#{$prefix}secondary-color) !default;
$sidebar-toggler-transition:         transform .15s !default;
// scss-docs-end sidebar-toggler
