@import "~bootstrap/scss/mixins";

@mixin text-truncate-line($breakpoints: $grid-breakpoints) {
  @each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    @each $name, $line in $text-truncate {
      .text-truncate#{$infix}-#{$name} {
        @supports (-webkit-line-clamp: $line) {
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: $line;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}

@function strip-unit($value) {
  @return divide($value, $value * 0 + 1, 0);
}

@function rem($size) {
  $value: strip-unit($size);
  @if ($value != 0) {
    @return divide($value, strip-unit($font-base), 3) + rem;
  }
  @return $value;
}

@mixin text-size-px() {
  @for $i from 10 through 50 {
    .tx-#{$i} {
      font-size: #{$i}px;
    }
  }
}