@import "~bootstrap/scss/mixins";

@mixin make-gutters($breakpoints: $grid-breakpoints) {
    @each $breakpoint in map-keys($breakpoints) {
        $infix: breakpoint-infix($breakpoint, $breakpoints);

        // Gutters
        //
        // Make use of `.g-*`, `.gx-*` or `.gy-*` utilities to change spacing between the columns.
        @each $key, $value in $gutters {
            .g#{$infix}-#{$key} {
                margin-left: -#{$value};
                margin-right: -#{$value};
                > .col,
                > [class*="col-"] {
                    padding-right: #{$value};
                    padding-left: #{$value};
                }
            }
        }
    }
}