@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
// Body
$body-bg: #f8fafc;
$body-color: #606266 !default;
$font-family-sans-serif: "Roboto" !default;

// Typography
$rfs-base-value:                                1.25rem !default;
$rfs-rem-value:                                 16 !default;
$font-size-base:                                .875rem !default;
$line-height-base:                              1.6 !default;

$font-weight-medium:                            500;
$font-weight-semibold:                          600;
$font-weight-bold:                              700;
$font-weight-normal:                            400;

$container-padding-x:                           1.875rem !default;

$success:                                       #00a94f;
$secondary:                                     #909399;
$custom-control-indicator-checked-bg:           $success !default;
$custom-checkbox-indicator-indeterminate-bg:    $success !default;

// Forms
$form-group-margin-bottom:                      1rem !default;
$form-grid-gutter-width:                        10px !default;
$form-check-input-gutter:                       1.25rem !default;
$form-check-input-margin-y:                     .3rem !default;
$form-check-input-margin-x:                     .25rem !default;
