@import "~bootstrap/scss/functions";
@import "../vnnit-coreui/scss/variables";
// Body
$body-bg: #f8fafc;
$body-color: #606266 !default;
$font-base: 16 !default;

$text-truncate: (
  2: 2,
  3: 3) !default;