@import url(https://fonts.google.com/share?selection.family=Montserrat:wght@100;200;400;500;600;700;800;900);
.notfound {
    min-height: calc(100vh - 6rem);
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 12rem;
        font-weight: 900;
        background: url('images/bg.jpg') no-repeat;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: cover;
        background-position: center;
    }
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 3rem;
        font-weight: 400;
    }
    p.content {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
    }
}
