@charset "utf-8";
/* CSS Document */

#body
{background-image:url(../images/bg2.png); background-repeat:repeat-x;}
.left{background:url(../images/bg_menu.png); padding-left:20px;}
#iContainer{
	width:1000px;
	padding:10px;
	margin:0 auto;
}
#iHeader
{
	background-image:url(../images/bnadmin.gif);
	width:1000px;
	height:100px;
}
#iTopmenu
{
	background-image:url(../images/bg_menu1.png);
	float:left;
	width:1000px;
	height:45px;
	background-color:#FFF;
}
#iLeftmenu
{
	width:165px;
	left:inherit;
	float:left;
	background-color:#FFF;
}
#iContent
{
	margin::100px;
	width:990px;
	float:left;
	background-color:#FFF;
	color:#000;
	font-size:14px;
	padding:5px;
}
#iFooter
{
	width:1000px;
	height:40px;
	background-image:url(../images/bg_foot_panel_2.gif); background-repeat:repeat-x;
	clear:both;
	padding-top:7px;
	font-size:13px;
	text-align:center; 
}

#ad{
	background-image:url(../images/bg_foot_panel_2.gif);
	text-align:center;
	border: 1px solid #0F9;
	}

.inserttop{background-image:url(../images/bgtitle1.jpg); background-repeat:repeat-x; padding:5px 16px; font-weight:bold; color:#FFF; }
.insertcen{border:1px solid #999;float:left; width:988px;}
#td1{text-align:center;}
.td1{text-align:left;}
.button{background-image:url(../images/button-o.gif); background-repeat:no-repeat; color:#FFF; vertical-align:middle; width:80px; padding:5px;}
a
{
	text-decoration:none;
	color:#000;
}
a:hover
{
	color:#09F;
}
#menu{
position:relative;
height:46px;
}
#menu ul{
	height: 44px;
	margin:0px;
	border:0px solid #FFF;
}
ul li{list-style:none; 
	float:left; 
	
	display:block;
	height:46px; 
	text-align:center; 
	}
ul li a{text-align:center; text-decoration:none; display:block; color:#fff; padding:10px 10px; /*cursor: pointer;*/ }
ul li a:hover{color:#FFF; background-image:url(../images/menu-active-bg.gif); background-repeat:repeat-x; background-position:left -1; height:44px; margin:0px; z-index:-1;}
.b a {text-decoration:none; color:#FFF; }
.b a:hover {color:#00F;}

#admin{background-image:url(../images/demo2.png); height:30px;color:#FFF; vertical-align:middle; font-weight:bold; padding-left:10px; padding-top:10px;}
.tr1 td{text-align:center; background-color:#c8dbf0; border-right:1px solid #333; height:30px;}
.tr2 td{text-align:center; border-bottom:1px solid #333; border-right:1px solid #333; height:25px;}
.qlmn{background-image:url(../images/bg_menu43.png); height:31px; padding-left:10px; padding-top:5px;}
div.pagination {
width:400px;

padding:10px 0 10px 0;
margin:0px;
text-align:center;

font-size:13px;
}
div.pagination a {
padding: 2px 5px 2px 5px;
margin-right: 2px;
border: 1px solid #52bfea;
text-decoration: none; 
color: #52bfea;
}
div.pagination a:hover, div.pagination a:active {
border:1px solid #52bfea;
color: #fff;
background-color: #52bfea;
}
div.pagination span.current {
padding: 2px 5px 2px 5px;
margin-right: 2px;
border: 1px solid #52bfea;
font-weight: bold;
background-color: #52bfea;
color: #FFF;
}